* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.Categories{
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.cart{
  display: flex;
}

button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 1px 25px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(23, 1, 032, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  
  transform: translateY(0);
}



