.container_father {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count_container {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  color: #ffffff;
}

.count_button {
  width: 100%;
  border: 1px solid #000000;
  background-color: inherit;
  color: #ffffff;
  font-size: medium;
  font-weight: bold;
  margin: 3px;
}

.cart_button {
  padding: 5px;
  width: 10%;
  border: 1px solid #000000;
  background-color: inherit;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: medium;
  font-weight: bold;
}

