.container_item {
  margin-left: 15%;
  width: 70%;
}

.card_img_item {
  max-width: 50%;
  margin: 5px;
}

.letras_item {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}

.letras_itemP {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border: 1px;
  border-radius: 1000px;
  border-style: solid;
  
}
.letras_itemS {
  color: rgb(18, 169, 5);
  font-weight: bold;
}

